span(style="font-size:80%;color:#808080;")
  | #{user.username} says,
br
br
| !{body}
br
br
span(style="font-size:80%;color:#808080;") _
br
span(style="font-size:80%;color:#808080;") This update is from your team, 
  strong #{team.name}.