| Welcome, #{user.username}.
br
br
| Please confirm your account by running the command below.
br
br
span(style="font-family:monospace;color:#808080;")
  | grr users confirm #{user.username} #{user.invite}
br
br
| Regards, Wolfpack.